@page
@model SafeRouting.Demo.Library.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Library Page1</title>
</head>
<body>
  <h1>Library Page1</h1>
</body>
</html>
